td {
    border: 1px solid black;
    text-align: center;
    
}
table {
    margin-top: 100px;
    margin-left: 400px;
    width: 800px;
    height: 700px;
}
.noBorder {
    border: none;
}
.colorOne {
    background-color:  #33ff33;
    color: #000;
    font-weight: 600;
}
.colorTwo {
    background-color: #ffa31a;
    color:#000;
    font-weight: 600;
}
.colorThree {
    background-color: #ffff33;
    color:#000;
    font-weight: 600;
}